.about-header{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.about-header h1{
    color: #ffc107;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 20px;
}
footer{
    color: var(--bgcolor);
}
.about-header img{
    width: 400px;
    margin: 25px auto;
}