@import 'navbar.css';
@import 'login.css';
@import 'blog.css';
@import 'about.css';
@import 'addblog.css';

html{
    background: rgb(250, 249, 240);
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Rubik';
    background: rgb(250, 249, 240);
}
:root{
    --bgcolor: #6f42c1;
    --textcolor: #ffc107;
}
.errorpage{
    text-align: center;
    margin-top: 50px;
}
.errorpage img{
    width: 500px;
    margin-bottom: 50px;
}
.home-layout{
    display: flex;
}