.blog{
    max-width: 75%;
    margin: 0 auto;
    border: 1px solid lightgrey;
    padding: 20px;
    margin-top: 25px;
    background: #fff;
}
.blog-body img{
    max-width: 75%;
}

.blog-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.blog-header-left{
    display: flex;
}
.blog-header-profile{
    margin-left: 8px;
}
.blog-header-profile h6{
    font-weight: bolder;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
}
.blog-header-profile p{
    font-size: 12px;
    color: gray;
    margin: 0;
    padding: 0;
}

.blog-header-icons{
    display: flex;
    margin-right: 15px;
}
.blog-header-icons div{
    margin-right: 15px;
    cursor: pointer;
    color: var(--bgcolor);
}
.blog-header-icons div:hover{
    color: #ffc107;
}
.blog-header-icons svg{
    height: 20px;
    width: 20px;
}

.blog-heading{
    color: var(--bgcolor);
    text-decoration: underline;
}

.blog-tags{
    display: flex;
    color: #ffc107;
}
.blog-tags p{
    margin-right: 8px;
    font-weight: bolder;
    cursor: pointer;
}
.blog-footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid lightgrey;
}
.blog-footer div{
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
}
.blog-footer div:hover{
    cursor: pointer;
}
.blog-likes, .blog-comment{
    display: flex;
    align-items: center;
    font-weight: bolder;
}
.blog-likes p, .blog-comment p{
    margin: 0;
    padding: 0;
}
.liked{
    color: blue;
}
.blog-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
    background: rgb(250, 249, 240);
}

.post-btn{
    position: sticky;
    bottom: 1rem;
    width: 40px;
    height: 40px;
    color: var(--bgcolor);
    align-self: flex-end;
    float: right;
    border-radius: 50%;
    cursor: pointer;
  }
  
  @keyframes glowing {
      0% {
        box-shadow: 0 0 5px var(--bgcolor);
      }
      50% {
        box-shadow: 0 0 20px var(--bgcolor);
      }
      100% {
        box-shadow: 0 0 5px var(--bgcolor);
      }
    }
    .post-btn {
      animation: glowing 1300ms infinite;
    }

.paginator{
    max-width: 600px;
    margin: 0 auto;
    margin-top: 25px;
    background: #fff;
}

.liked{
    color: blue;
}

.blog-header-img img, .blog-header-profile h6{
    cursor: pointer;
}