.nav{
    display: flex;
    justify-content: space-around;
    background: #6f42c1;
    padding: 1%;
    color: #ffc107;
}
.nav a{
    text-decoration: none;
    color: #fff;
}
.nav a:hover{
    color: #ffc107;
}
.nav-section ul{
    list-style-type: none;
}
.nav-section ul li{
    display: inline-block;
    width: 80px;
}
.navBarLink {
    margin-left: 30px;
  }

@media only screen and (max-width:800)  {
    
}